
.main {
    padding-top: 70px;
    margin-bottom: 0;
}

.paginator{
    /* width: 100%; */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.offer-info-card, .user-form {
    padding: 24px;
    margin: 16px 8px 8px 8px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}
