
.main {
    padding-top: 70px;
    margin-bottom: 0;
}

.paginator{
    /* width: 100%; */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.offer-info-card, .user-form {
    padding: 24px;
    margin: 16px 8px 8px 8px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}

form.user-form label.btn:hover:after {
    content: "Add";
    background-color: #00000070;
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: white;
    position: absolute;
    padding-top: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form.user-form input.form-control,
form.user-form textarea.form-control,
form.user-form select.form-select
 {
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    padding: 10px;
    border-radius: 10px;
}
