
#root>div:first-of-type, #root>section {
    padding-top: 70px;
    margin-bottom: 0;
    padding-bottom: 45px;
}

.paginator{
    /* width: 100%; */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

