body {
    position: relative;
}

#root>div, #root>section {
    margin-top: 60px;
    padding-bottom: 45px;
    min-height: calc(100vh - 60px);

}

.paginator{
    /* width: 100%; */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}