:root {
    --primary: #8c594d;
}

.text-primary {
    color: var(--primary) !important;
}



#root {
    min-height: 100vh;
    position: relative;
}

#fail-auth {
    height: 80px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    width: 400px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}