#root {
    min-height: 100vh;
    position: relative;

}

#root>div:nth-child(2), #root>section {
    padding-top: 60px;
    margin-bottom: 0;
    padding-bottom: 45px;
    min-height: calc(100vh - 60px);

}

.paginator{
    /* width: 100%; */
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#success-auth {
    height: 80px;
    position: fixed;
    top: 75px;
    width: 360px;
    opacity: 0.9;
}