#dashboard .list-group a{
    border: none;
}

#dashboard .list-group a:hover{
    color: #fff;
    background-color: #bf7245;
}

#dashboard .list-group .active{
    color: #fff;
    background-color: #bf7245;
}


