
.navbar {
    background-color: #FCFCFC;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}

.main {
    background: #FAFAFA;
}

.navbar-brand {
    font-weight: 500;
    color: #D9C9BA;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: var(--primary);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
}

.login-button:hover {
    background-color: var(--primary);
}

.navbar-toggler {
    border: none;
    font-size: 1.2rem;
}

.navbar-toggler:focus , .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #8c594d;
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #8c594d;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


