
.cs-message__content {
    background-color: #d9c9ba48 !important;
    /* font-weight: bold !important; */
    /* color: white !important; */
}


.cs-search{
    background-color: #d9c9ba48 !important;
    color: #d9c9ba48 !important;
}

.cs-message-input__content-editor-wrapper,
.cs-conversation.cs-conversation--active{
    background-color: #d9c9ba48 !important;
}

.scrollbar-container.cs-message-input__content-editor-container.ps,
.cs-message-input__content-editor,
.cs-search__input {
    background-color: #d9c9ba00 !important;
}


.cs-message-input__tools,
.cs-button.cs-button--attachment,
.svg-inline--fa.fa-search.fa-w-16.cs-search__search-icon,
.svg-inline--fa.fa-phone-alt.fa-w-16 ,
.svg-inline--fa.fa-video.fa-w-18  {
    color: #8c594d !important;
}