.conversation {
    margin: 5px;
    padding: 10px;
    border-radius: 16px;
    cursor:pointer;
}

.conversation.active {
    background-color: var(--secondary) ;
    cursor: auto;
}

.cs-conversation-header{
    cursor: pointer;
}

.cs-message__content, .cs-search,
.cs-message-input__content-editor-wrapper,
.cs-conversation-header
{
    background-color: var(--secondary) !important ;
}

.cs-conversation-header,
.cs-conversation-header > *
.cs-search
{
    color: #d9c9ba48 !important;
}

.scrollbar-container.cs-message-input__content-editor-container.ps,
.cs-conversation-header__content ,
.cs-message-input__content-editor,
.cs-search__input {
    background-color: #d9c9ba00 !important;
}


.cs-message-input__tools,
.cs-button.cs-button--attachment,
.svg-inline--fa.fa-search.fa-w-16.cs-search__search-icon,
.svg-inline--fa.fa-phone-alt.fa-w-16 ,
.svg-inline--fa.fa-video.fa-w-18 ,
.cs-typing-indicator__indicator,
.cs-typing-indicator__dot,
.cs-typing-indicator__text,
.cs-button.cs-button--send {
    color: #8c594d !important;
}


.cs-conversation-header__content * {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: rgba(0,0,0,.87);
    background-color: transparent !important;
}